[submodule "TinyUSB_Mouse_and_Keyboard"]
	path = TinyUSB_Mouse_and_Keyboard
	url = https://github.com/akaharaimori/TinyUSB_Mouse_and_Keyboard.git
[submodule "tinyexpr-plusplus"]
	path = tinyexpr-plusplus
	url = https://github.com/akaharaimori/tinyexpr-plusplus.git
[submodule "pico-littlefs-usb"]
	path = pico-littlefs-usb
	url = https://github.com/oyama/pico-littlefs-usb.git
